.stepper {

    .stepper-item {

        &--header {
            display: flex;
            flex-direction: row;
        }
        &--header>span {
            height: 24px;
        }
        &--number {
            cursor: default;
            font-size: 12px;
            width: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            background: $main-color;
            border-radius: 100%;
            text-align: center;
        }
        &--title {
            padding-left: 8px;
            align-items: center;
            display: flex;
            font-size: 14px;
            font-weight: 500;
        }

        &--content {
            border-left: 1px black solid;
            padding: 0 16px 16px 20px;
            margin: 8px 0 8px 12px;

            pre {
                margin: 0;
            }
        }

    }

}

.stepper-custom-btn-group {
    .btn {
        margin-right: 8px;
    }
}