.tab-bar {
    display: flex;
    flex-direction: row;
    height: 48px;

    &-item {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 46px;
        align-content: stretch;
        color: $textLightSecondary;
        min-width: 160px;
        font-weight: 500;
        text-transform: uppercase; 
        text-decoration: none;
    }
    .active {
        border-bottom: white 2px solid;
        color: $textLightPrimary;
    }
}