.btn {
    @extend .font-button; 
    @extend .clickable;
    @extend .noselect;
    @extend .flex-middle;
    position: relative;
    height: 36px;
    border-radius: 2px;
    min-width: 64px;
    max-width: 240px;
    margin: 4px;
    transition: box-shadow 0.3s ease;
    
    .background {
      position: absolute;
      left: 0;
      top:0;
      width: 100%;
      height: 100%;
      min-width: 64px;
      max-width: 240px;
      border-radius: 2px;
    }
    .content {
      z-index: 1;
      position: relative;
      min-width: 48px;
      max-width: 208px;
      padding: 0 16px;
      border-radius: 2px;
      text-align: center;
      white-space: nowrap;
      overflow-x: hidden;
      text-overflow: ellipsis;
    }
    &.disabled {
      box-shadow: none;
      opacity: 0.3; 
    }

    &.raised {
        @extend .shadow--2dp;
        line-height: 36px;

        &:hover .content{
            background: $darkDividers;
        }
        &:active {
            @extend .shadow--8dp;
        }
    }

    &.flat {
      .background {
        opacity: 0;
        line-height: 36px;
      }

       &:hover .background{
          opacity: 0.12;
        }
        &:active .background{
          opacity: 0.3;
        }
    }
}

.btn.round {
    @extend .flex-middle;
    cursor: pointer;
    border-radius: 50%;
    min-width: 40px;
    margin: 8px;

    .background {
      border-radius: 50%;
      min-width: 40px;
    }
    .content {
      @extend .flex-middle;
      padding: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
    &.small {
      width: 40px;
      height: 40px;
      i {
        font-size: 24px;
      }  
    }
    &.medium {
      width: 64px;
      height: 64px;
      i {
        font-size: 36px;
      }  
    }
    &.large {
      width: 88px;
      height: 88px;
      i {
        font-size: 48px;
      }  
    }

    &.icon {
      .background {
        opacity: 0;
      } 
      &:hover .background{
        opacity: 0.2;
      }
    }
}

.btn-act.round.btn {
    @extend .shadow--6dp;
    position: fixed;
    z-index: 999;
    right: 24px;
    bottom: 24px;
    width: 56px;
    height: 56px;

    .content {
        width: 24px;
        height: 24px;
        i {
          font-size: 24px;
          color: white;
        }  
    }
    &:hover .content{
      width: 100%;
      height: 100%;
      background: $darkDividers;
    }
    &:active {
      @extend .shadow--16dp;
    }
}

.btn-group {
    text-align: center;
    padding: 0 4px;
    
    .clear {
      content:"";
      clear:both;
      display:block;
    }

    &.pos-top, &.pos-bottom {
      position: absolute;
      padding: 0;
    }
    &.pos-top {
      top: 0;
    }
    &.pos-bottom {
      bottom: 0;
    }
    &.align-right {
      text-align: right;
      right: 0;
    }
    &.align-left {
      text-align: left;
      left: 0;
    }
    
    > div {
      display: inline-block;
    }
    .pos-left {
      float: left;
    } 
    .pos-right {
      float: right;
    } 
}