.context-menu {
    @extend .shadow--2dp;
    background: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 8px;
    top: 0;
    z-index: 100;
    cursor: default;
    padding: 8px 0;
    min-width: 116px;
    max-width: 416px;

    &[hidden]{
        display: none;
    }

    .menu-item {
        @extend .clickable;
        @extend .font-overflow;
        padding: 16px;
        color: $textDarkSecondary;
        font-weight: 400;
        text-decoration: none;
        

        &:hover {
            background: $textDarkDividers;
        }
        
        i {
            margin-right: 24px;
        }
    }
}

.side-menu {
    width: 300px;
    height: 100%;
    background: white;
    position: fixed;
    transform: translateX(-300px);
    transition: transform 0.5s cubic-bezier(.56,.1,.34,.91);
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &.show {
        transform: translateX(0);
    }
    

    .side-menu-header {
        border-bottom: $textDarkDividers 1px solid;  
        padding: 24px;
        margin-bottom: 8px; // Сдвиг группы меню элементов от нижней линии границы
        @extend .font-headline;
        @extend .font-overflow;
        color: $textDarkSecondary;

    }

    .side-menu-footer {
        border-top: $textDarkDividers 1px solid;  
        flex-direction: column;
        padding: 24px;

        > div {
          line-height: 24px;
          @extend .font-body-1;

          a {
            color: $main-color;
            text-decoration: none;
            margin-right: 16px;
          } 
        }

    }
    
    .menu-list {
        height: 100%;
        // overflow: scroll;

        .menu-item {
            @extend .flex-start;
            @extend .clickable;
            @extend .font-overflow;
            @extend .font-body-2;
            color: $textDarkPrimary;
            padding: 16px 24px;
            text-decoration: none;
            
            span {
                @extend .font-overflow;
            }
            &:hover {
                background: $textDarkDividers;
            }
            
            i {
                margin-right: 24px;
            }
            &.active {
                color: $main-color;
            }
        }
    }
    
}


.main-content {
   display: flex;
   flex-direction: row;
}

.services {
    @extend .clickable;
    position: relative;
    padding: 0 16px;
}

.bg {
    display: block;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease 0.2s;
    z-index: 99999;

    &.hidden {
        display: none;
    }

    &.show {
        background-color: rgba(0, 0, 0, 0.5);
        transition: background-color 0.3s ease;
    }
}