$icon-size: 40px;
$icon-size-small: 32px;

.list {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    a {
      text-decoration: none;
      color: rgba(0,0,0,0.87);
    }

    .header, .content {
        display: flex;
        flex-direction: column;
        padding: 0px;
    }

    .header>div {
        font-weight: 500;
        color: rgb(85,85,85);
    }
    
    .content {

        .list-item:hover {
            background: rgb(216,216,216);
        }

        .list-item {
            border-bottom: 1px rgb(216,216,216) solid;
        }
    }

    .list-item {
        display: flex;
        align-items: center;
        justify-content: space-between;

        > div {
          margin: 16px auto 16px 0;
          padding-right: 16px;
        }

        .list-item--image, .list-item--icon, .list-item--action, .list-item--menu  {
          padding: 0;
          margin: 0;
        }
    }

    .list-item.clickable{
        cursor: pointer;
        transition: background 0.3s ease;
    }

    .list-item.clickable:hover{
        background: $textDarkDividers;
    }

     .list-item--cell {
       flex-grow: 1;
       flex-shrink: 1;
       max-width: 30%;
    }

    .list-item--name {
       max-width: 50%;
        flex-shrink: 1;  
        flex-grow: 2;

        .label {
            @extend .font-input;
            @extend .font-overflow;
        }
        .description {
                @extend .font-subheading;
                @extend .font-overflow;
        }
    }
    

    .list-item .list-item--icon {
        min-width: $icon-size;
        width: $icon-size;
        margin-left: 16px;
        margin-right: 16px;
        text-align: center;
        overflow: hidden;
        white-space: nowrap;

        i {
            height: $icon-size;
            width: $icon-size;
            line-height: $icon-size;
            text-align: center;
            font-style: normal;
            font-size: 36px;
        }
    }

    &.thin {
      .list-item--name {
        margin: 0;
      }
      .list-item {
            border-bottom: 1px solid $textDarkDividers;
        }
      .list-item .list-item--image {
          height: $icon-size-small;
          width: $icon-size-small;
          min-height: $icon-size-small;
          min-width: $icon-size-small;
          line-height: $icon-size-small;
          margin: 8px 16px;
      }
      .list-item .list-item--cell {
          @extend .font-body-1;
          @extend .font-overflow;
          margin: 0;
      }
      .list-item .list-item--icon {
          i {
              font-size: 24px;
              height: 32px;
              line-height: 32px;
          }
      } 
    }

    .list-item .list-item--image {
        min-width: $icon-size;
        width: $icon-size;
        min-height: $icon-size;
        height: $icon-size;
        border-radius: 50%;
        margin-left: 16px;
        margin-right: 16px;
    }
    
    .list-item .list-item--menu {
        @extend .clickable;
        color: $textDarkSecondary;
        width: 35px;
        min-width: 35px;
        display: flex;
        position: relative;
        align-items: center;
    }
}

.list-more {
    margin: 16px 0;
    display: flex;
    justify-content: center;

    &.hidden {
        display: none;
    }

    .btn-more {
        @extend .shadow--2dp;
        background: white;
    }
}

.list-item--cell {
    @extend .font-subheading;
    text-overflow: ellipsis;
    overflow: hidden;

    &.list-cell--check {
        min-width: 40px;
        width: 40px;
    }
    &.list-cell--email {
        min-width: 150px;
        width: 150px;
    }
}