.app-bar {
    @extend .shadow--4dp;
    background: $main-color;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    flex-shrink: 0;
    .app-bar-header-main {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        height: 64px;
    }
    .app-bar-content {
        display: flex;
        justify-content: center;
    }
    .center-block {
        width: 100%;
    }
    .app-header-title {
        @extend .font-title;
        color: $textLightSecondary;
        text-transform: uppercase;
        margin-left: 0;
        white-space: nowrap;
    }
    .title-spliter {
        height: 32px;
        border-right: $textLightSecondary 2px solid;
        margin: 0 16px;
    }
    .btn-menu {
        @extend .clickable;
        margin: 0 14px;
        padding: 10px;
        display: flex;
        align-items: center;
        i {
            @extend .font-headline;
            color: $textLightSecondary;
        }
    }
    .left-block {
        display: flex;
        width: 100%;
        align-items: center;
    }
    .right-block {
        display: flex;
    }
}

.footer {
    border-top: $textDarkDividers 1px solid;
    margin: 24px auto 0;
    .container {
        display: flex;
        justify-content: space-between;
        >div {
            padding: 24px 8px;
            flex-direction: row;
            @extend .font-subheading;
            a {
                color: $main-color;
                text-decoration: none;
                margin-left: 16px;
            }
        }
    }
}