.tree-view-container {
    .tree-view-label {
        padding: 16px 24px;
        @extend .clickable;
        @extend .font-body-2;
        @extend .font-overflow;
        text-decoration: none;

        &:hover {
            background: $textDarkDividers;
        }
        .tree-view-arrow:after {
            content: '▾';
        }
        .tree-view-arrow {
            transition: all 0.1s;
            display: inline-block;
            user-select: none;
            margin-left: 8px;
            transform: rotate(-180deg);
        }
        .tree-view-arrow-non-collapsed {
            transform: rotate(0deg);
        }
    }
    .tree-view-node-non-collapsed {
        height: 0px;
        transition: height 1.15s ease-out;
        overflow: hidden;
    }
    .tree-view-node  .menu-item {
      padding-left: 48px;
      @extend .font-body-1;
    } 
}