.modal {
    @extend .page;
}

.modal-header {
    @extend .page--header;
}

.modal-content {
    @extend .page--content;
}

.modal-background {
  position: fixed;
  background: rgba(0,0,0,0.5);
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 10000;
  opacity: 0;
  transition: opacity 0.5s;  
  -webkit-transition: opacity 0.5s;  
}

.modal-background.show {
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  .modal-message{
    width: 360px;
  }

  .page {
    margin: 0;
  }
}