.user-history.list{
  .list-item {
   border-bottom: 1px #d8d8d8 solid;
  }
  .list-item--name{
    max-width: 30%;
    min-width: 30%;
    margin: 16px 0;
  }
  .list-item--cell {
    max-width: 70%;
   
    margin: auto 0;
  }
  .list-item--cell.date {
    max-width: 135px;
    min-width: 135px;
    margin: auto 0;
  }
}

.content-div {
  margin: 20px 24px;
  text-align: center;
}

.banner {
  .banner_settings {
    .page--content {
      padding-left: 16px;
    }
  }
}