[data-tooltip] {
  &::before, &::after {
    display: none;
  }

  &::before {
    position: absolute;
    border-color: rgba(0, 0, 0, 0.7) transparent transparent transparent;
    content: "";
    border-style: solid;
    z-index: 9999;
  }

  &::after {
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    padding: 4px 8px;
    color: #fff;
    text-align: center;
    font-size: 12px;
    pointer-events: none;
    font-family: "Roboto", "Segoe Ui", "Helvetica Neue", Helvetica, Arial, sans-serif;
    white-space: nowrap;
    content: attr(data-tooltip);
    z-index: 10000;
  }

  &:hover {
    &::before, &::after {
      display: inline-block;
    }
  }
}

[data-tooltip] {
  margin-top: 20px;
  position: relative;

  &::before {
    top: -6px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 4px 6px 0 6px;
  }

  &::after {
    left: 50%;
    top: -6px;
    transform: translateX(-50%) translateY(-100%);
  }
}

[data-tooltip-position="left"] {
  &::before {
    left: 0;
    top: 50%;
    margin-left: -12px;
    transform: translateY(-50%) rotate(-90deg)
  }

  &::after {
    left: 0;
    top: 50%;
    margin-left: -8px;
    transform: translateX(-100%) translateY(-50%);
  }
}

[data-tooltip-position="right"] {
  &::before {
    left: 100%;
    top: 50%;
    margin-left: 1px;
    transform: translateY(-50%) rotate(90deg)
  }

  &::after {
    left: 100%;
    top: 50%;
    margin-left: 8px;
    transform: translateX(0%) translateY(-50%);
  }
}

[data-tooltip-position="bottom"] {
  &::before {
    top: 100%;
    margin-top: 8px;
    transform: translateX(-50%) translateY(-100%) rotate(-180deg)
  }

  &::after {
    top: 100%;
    margin-top: 8px;
    transform: translateX(-50%) translateY(0%);
  }
}