@import "./color";

html, body, #app, .app {
  height: 100%;
}

//<font-vars>
$font-stack: "Roboto", "Segoe Ui", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-path: "../font/";

//Толщина
$light: 300;
$regular: 400;
$medium: 500;
$bold: 600;

* {
    font-family: $font-stack;
    position: relative;
}

// Шрифты
.font-display-4 {
  font-size: 112px;
  font-weight: $light;
  @extend .secondaryOpacity;
}
.font-display-3 {
  font-size: 56px;
  font-weight: $regular;
  @extend .secondaryOpacity;
}
.font-display-2 {
  font-size: 45px;
  font-weight: $regular;
  @extend .secondaryOpacity;
}
.font-display-1 {
  font-size: 34px;
  font-weight: $regular;
  @extend .secondaryOpacity;
}
.font-headline {
  font-size: 24px;
  font-weight: $regular;
  @extend .primaryOpacity;
}
.font-title {
  font-size: 20px;
  font-weight: $medium;
  @extend .primaryOpacity;
}
.font-subheading {
  font-size: 15px;
  color: $textDarkSecondary;
  font-weight: $regular;
  @extend .primaryOpacity;
}
.font-body-2 {
  font-size: 13px;
  font-weight: $medium;
  @extend .primaryOpacity;
}
.font-body-1 {
  font-size: 13px;
  font-weight: $regular;
  @extend .primaryOpacity;
}
.font-input {
  font-size: 16px;
  font-weight: $regular;
  @extend .primaryOpacity;
}
.font-caption {
  font-size: 12px;
  font-weight: $regular;
  @extend .secondaryOpacity;
}
.font-button {
  font-size: 14px;
  font-weight: $medium;
  @extend .primaryOpacity;
  text-transform: uppercase;
}



//Elevation and shadows
.shadow--2dp {box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);}
.shadow--3dp {box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);}
.shadow--4dp {box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);}
.shadow--6dp {box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);}
.shadow--8dp {box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);}
.shadow--16dp {box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);}
.shadow--24dp {box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);}

.clickable {
  cursor: pointer;
}

.font-overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.noselect {
    user-select: none;
}


//Flex
.flex-middle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}



//App Styles

.app {

    > .content-wrapper {
        width: 100%;
        overflow: auto;
    }
    > .content-wrapper .content {
        margin: 0 auto;
    }
}

@media screen and (min-width:1440px) {
    .app {
        >.content-wrapper >.content, >.footer {
            width: 1130px;
        }
    }
}

@media screen and (min-width:1110px) and (max-width:1440px) {
    .app {
        >.content-wrapper >.content, >.footer{
            width: 900px;
        }
    }
}

@media screen and (max-width:1110px) {
    .app {
        >.content-wrapper >.content, >.footer {
            width: 670px;
        }
    }
}