$property-view-row-height: 42px;

.property-view {

    .property-view-body {
    }

    .property-view-item {
        display: flex;
        flex-direction: row;
        align-items: baseline;

        .property {
            min-width: 140px;
        }

        .value {
             @extend .font-body-1;
            width: 100%;
            margin: 16px;
            padding-bottom: 7px;
            border-bottom: 1px solid rgba(0,0,0,.12);
            overflow: hidden;
            text-overflow: ellipsis;
        }

    }

}

.action {
    width: $property-view-row-height;
    min-width: $property-view-row-height;
    height: $property-view-row-height;
    min-height: $property-view-row-height;
    padding: 0px;

    .btn-round {
        width: $property-view-row-height;
        min-width: $property-view-row-height;
        height: $property-view-row-height;
        min-height: $property-view-row-height;

        i {
            transition: opacity 0.3 ease;
            opacity: 0.54;
        }
    }

    .btn-round:hover {
        i {
            opacity: 0.87;
        }
    }

    .btn-round:active {
        background: $textDarkDividers;
    }
}

.property {
    padding: 16px 0;
    .title {
        @extend .font-body-1 
    }

    .description{
        @extend .font-subheading;

    }
}