@import "../var";

$hover-color: $main-color;

.clock-root {
  width: 300px;
  background-color: rgba(255, 255, 255, 1);
  -webkit-user-select: none;
  cursor: default;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  border-radius: 2px;

  &.clock-mode--landscape {
    width: 465px;
    align-content: stretch;
    flex-direction: row;

    .display-time--root {
      max-width: 165px;
      min-width: 165px;
      padding: 10px;
      flex-direction: column;
      align-self: stretch;
      border-radius: 2px 0 0 2px;
    }

    .display-time--content {
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
    }

  }

  .display-time--content {
    display: flex;
  }

  .clock--face {
    width: 300px;
  }

  .display-time--root {
    display: flex;
    width: 100%;
    min-height: 96px;
    background: $main-color;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
    border-radius: 2px 2px 0 0;

    * {
      color: #FFF;
      font-size: 56px;
    }

    .display-hours, .display-minutes {
      cursor: pointer;
      opacity: .7;

      &.clock-display-time--item-active {
        cursor: default;
        opacity: 1;
      }
    }

    .select-affix {
      margin-left: 10px;

      > div {
        font-size: 16px;
        text-transform: uppercase;
        cursor: pointer;
        opacity: .7;
        font-weight: bold;

        &.affix-current {
          cursor: default;
          opacity: 1;
        }
      }
      & .affix-am {
        margin-bottom: 5px
      }
    }
  }

  .clock-item--current {
    color: #3f51b5;
  }

  .hours.clock-item--selected {
    background: $main-color;
    color: #FFF;
  }

  .display-clock-item {
    z-index: 200;
    position: relative;
    width: 100%;
    height: calc(100% - 50px);
    min-height: 300px;
    pointerEvents: none;

    .arrow {
      content: "";
      height: 120px;
      width: 3px;
      background: $main-color;
      display: block;
      position: absolute;
      left: calc(50% - 2px);
      bottom: calc(49% - 2px);
      transform-origin: bottom;

      &:before {
        content: "";
        position: absolute;
        border-radius: 100%;
        top: -8px;
        left: calc(50% - 8px);
        background: #FFF;
        border: 5px solid $main-color;
        width: 16px;
        height: 16px;
        z-index: 300;
        box-sizing: border-box;
      }
    }

    .digts {
      width: 100%;
      height: 100%;
      position: absolute;

      & > div {
        position: absolute;
        top: 50%;
        left: calc(50% - 5px);
      }
    }
  }

  .clock-mask {
    width: 100%;
    height: 100%;
    position: absolute;
    pointerEvents: auto;
  }

  .hours, .minutes {
    cursor: pointer;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;

    &:hover {
      //z-index: 303;
    }
  }

  .hours {
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 10px);

    $rot: -90;
    $nb-items: 12;
    $angle: (360 / $nb-items);
    $circle-size: 240px;

    @for $i from 1 through $nb-items {

      &:nth-of-type(#{$i}) {
        transform: // Rotate the axis
                rotate($rot * 1deg) // Move the item from the center
                translate($circle-size / 2) // Rotate the item back to its default position
                rotate($rot * -1deg);
      }

      // Increments the `$rot` variable for next item
      $rot: ($rot + $angle);
    }
  }

  .minutes {
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 10px);

    $rot: -90;
    $nb-items: 60;
    $angle: (360 / $nb-items);
    $circle-size: 240px;

    @for $i from 1 through $nb-items {

      &:nth-of-type(#{$i}) {
        transform: // Rotate the axis
                rotate($rot * 1deg) // Move the item from the center
                translate($circle-size / 2) // Rotate the item back to its default position
                rotate($rot * -1deg);
        @if (($i % 5) != 1) {
          opacity: 0 !important;
        }
        &:hover {
          opacity: 0;
        }
        &.clock-item--selected {
          opacity: 1;
          background: $main-color;
          color: #FFF;
        }
      }

      // Increments the `$rot` variable for next item
      $rot: ($rot + $angle);
    }
  }
}