@import "../var";
@import "clock";

$transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, opacity 200ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
$digtsFontSize: 24px;
$displayTimeFontSize: 30px;
$displayTimeBackground: rgba(255, 173, 51, 0.98);
$displayTimeColor: #FFF;
$digtsColor: rgba(0, 0, 0, 1);

.time-picker-root {
  outline: none;
  * {
    -webkit-user-select: none;
    outline: none;
    box-sizing: border-box;
  }

  .time-picker-dialog-root {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 100;

    &.opened {
      display: block;
    }

    .time-picker-dialog-wrapper {
      background: rgba(0, 0, 0, .5);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      will-change: opacity;
      transform: translateZ(0px);
      transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, opacity 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    }

    .time-picker--time-selectors {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100%;

      & > div {
        width: 40%;
        text-align: center;
      }

      .time-separator {
        padding: 0 10px;
        max-width: 20%;
      }
    }

    .time-picker-actions {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      height: 50px;
      padding: 0 3px;
    }
  }
}