// .full-size {
//     width: 100%;
//     height: 100%;
//     position: relative;
//     margin: 0;
//     padding: 0;
// }

// html, body, .main, #app, .app {
//     @extend .full-size; 
// }

// .app-container {
//     @extend .full-size;
// }

// .app-body {
//     @extend .full-size;
//     display: flex;
//     flex-direction: column; 
    

// }

// .app-body-container {
//     @extend .full-size;
//     display: flex;
//     flex-direction: row;

//     .nav-menu {
//         background: white;
//         min-width: 300px;
//         height: 100%;
//         box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
//         transform: translateX(0) !important;

//         .menu-item {
//             @extend .flex-start;
//             @extend .clickable;
//             padding: 16px 24px;
//             color: $textDarkSecondary;
//             font-weight: 500;

//             &:hover {
//             background: $textDarkDividers;
//             }
            
//             i {
//                 margin-right: 24px;
//             }
//         }

//         .footer {
//             flex-direction: column;
//             @extend .font-subheading;
//             position: absolute;
//             bottom: 0;
//             width: 100%;
//             padding: 0;

//             div {
//                 margin: 24px 0 0 24px;

//                 &.links {
//                     margin: 16px 24px 24px 8px;
//                 }
//             }
//         }
//     }
// }

// .app-body-content {
//     width: 100%;
//     overflow: auto;
// }

// .app-header {
//     @extend .shadow--2dp;
//     background: $main-color;
//     position: relative;
//     display: flex;
//     flex-direction: column;
//     width: 100%;
//     left: 0;
//     top: 0;
//     z-index: 2;

//     .app-header-main {
//         display: flex;
//         flex-direction: row;
//         width: 100%;
//         align-items: center;
//         height: 64px;
//     }

//     .app-header-content {
//         padding-left: 260px;
//         display: flex;
//         justify-content: center;
//     }
//     .title {
//         @extend .font-title;
//         color: $textLightSecondary;
//         text-transform: uppercase;
//     }

//     .title-spliter {
//         height: 32px;
//         border-right: $textLightSecondary 2px solid;
//         margin: 0 16px;
//     }

//     .history {
//         width: 100%;
//         color: $textLightSecondary;
//         display: flex;
//         flex-direction: row;
//         align-items: center;
        
//         .history-text {
//             font-size: 20px;
//             color: $textLightSecondary; 
//             font-weight: 400;
//             text-overflow: ellipsis;
//             overflow: hidden;
//             white-space: nowrap;
//             max-width: 200px;
//         }

//         a.history-text:hover{
//             color: $textLightPrimary;
//             border-bottom: white 1px solid;
//         }
//         span.history-text{
//             color: $textLightPrimary;
//         }

//         .history-item {
//             display: flex;
//             flex-direction: row;
//             align-items: center;
//         }
//     }

//     .btn-menu {
//         @extend .clickable;
//         margin: 0 14px;
//         padding: 10px;
//         display: flex;
//         align-items: center;

//         i {
//             @extend .font-headline;
//             color: $textLightSecondary;
//         }
//     }

//     .image {
//         border: white 2px solid; 
//         min-height: 40px;
//         height: 40px;
//         min-width: 40px;
//         width: 40px;
//         border-radius: 50%;
//         margin: 0 24px 0 16px;
//         cursor: pointer;
//     }

//     .services {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         i {
//             color: $textLightSecondary;
//         }    
//     }
// }

// .footer {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     margin-top: 24px;
//     padding: 16px 0;
//     border-top: $textDarkDividers 1px solid;

//     .links>a {
//         margin-left: 16px; 
//     }
// }

// .content {
//     > .page-group {
//         margin: 16px;
//     }
// }

.page-group {
    display: flex;

    &.row {
        flex-direction: row;
        align-items: flex-start;

        > div {
          width: 100%;
          flex: 1 1 0px;
          min-width: 1px;
        }
    }

    &.col {
        flex-direction: column;
        align-items: stretch;
    }
}

.page {
    @extend .shadow--2dp;
    background: white;
    margin: 8px;
    position: relative;
    border-radius: 2px;

    .page--content {
        padding: 4px 0;  
    }
}

.page--header {
    padding: 4px 0;  
    border-radius: 2px 2px 0 0;

    &.size-medium {
        padding-top: 64px; 
    }

    &.size-large {
        padding-top: 124px; 
    }
}

.page--footer {
  padding: 4px 0;
}


