
//Chip

.chip-item {
    @extend .font-caption;
    display: inline-flex;
    background: $textDarkDividers;
    border-radius: 40px;
    align-items: center; 
    height: 32px; 
    margin: 8px;
    padding: 0;

    > .labelChip {
      padding: 0 12px;
      max-width: 200px;
      @extend .font-overflow;
      @extend .font-body-1;
      color: $textDarkPrimary;

      &.wi {
        padding-left: 8px;
      }
      &.wc {
        padding-right: 0;
      }
    }

    .btn.round {
        width: 24px;
        min-width: 24px;
        height: 24px;
        min-height: 24px;
        margin: 4px;

        .background {
            width: 24px;
            min-width: 24px;
            height: 24px;
            min-height: 24px;
        }

        i {
            color: $textDarkSecondary;
            font-size: 16px;
        }
    }
}


.chip-image {
    min-width: 32px;
    width: 32px;
    min-height: 32px;
    height: 32px;
    border-radius: 50%;

    &.woi {
        min-width: 0;
        width: 0;
    }
}

