@import "../var";
@import "calendar";

$pickerWidth: 330px;
$pickerHeaderBackgroundColor: $main-color;
$transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, opacity 200ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;

.date-picker-root {
  * {
    -webkit-user-select: none;
    box-sizing: border-box;
  }

  .date-picker-dialog-root {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 100;

    &.opened {
      display: block;
    }

    .date-picker-dialog-wrapper {
      background: rgba(0, 0, 0, .5);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      will-change: opacity;
      transform: translateZ(0px);
      transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, opacity 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    }

    .date-picker-dialog-content {
      @extend .shadow--8dp;
      margin: 8px;
      position: relative;
      border-radius: 2px;
      min-width: $pickerWidth;
      //height: $pickerHeight;
      cursor: default;
    }
  }
}