.settings {
    display: flex;
    flex-direction: column;
}
.setting-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    >* {
        max-width: 80%;
    }
}
.setting-item-control {
    display: flex;
    align-items: center;
}
